/* Estilo para tachar el texto del lugar visitado */
.completed {
    text-decoration: line-through;
}

body {
    padding: 0%;
    margin: 0%;
    display: flex;
    font-family: Arial, sans-serif;
    background-color: azure;
    justify-content: center;
}

section {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.list{
    display: flex;
}

.container{
    display: grid;
    justify-content: center;
    width: 100%;
}

h1 {
    color: #000000;
}

.divH1{
    display: flex;
    justify-content: center;
}

input {
    padding: 5px;
    font-size: 16px;
}

.divInput{
    display: flex;
    justify-content: center;
    width: 90%;
}

button{
    width: 80%;
    background: #7D2AE8;
    border-radius: 55px;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    overflow: hidden;
    margin-left: 10px;
    font-size: 16px;
    align-items: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px;
    display: flex;
    align-items: center;
    margin-right: 10%;
}

span{
    width: 300px;
    justify-content: end;
}